{% load house_tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-
scale=1.0">
<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
<style>
#data {
padding-top: 25px;
padding-bottom: 25px;
padding-right: 50px;
padding-left: 50px;
}
</style>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/blog.css" %}" rel="stylesheet">
</head>
<body>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="sidebar">
        <h2>house-to-let</h2>
		<p>The portal has <span class="badge">{% total_houses %}</span> listed houses-to-let.</p>
		<h3>Latest locations</h3>
		{% show_latest_houses 3 %}
		<button type="button" class="btn btn-primary"><a href ="/patakeja/add">add</a></button>
    </div>
</body>
</html>
